@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


*{
     font-family: "Roboto Serif", serif;  
}

main{
     min-height: 90vh;
     max-width: 1280px;
     margin: auto;
     padding: 15px;
}